<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.developer.monitor.domain.admin.mapper.ManageMapper">

    <insert id="createManageList" parameterType="com.developer.monitor.domain.admin.model.MmanageMain"
            useGeneratedKeys="true" keyProperty="manageId">

        /* saveMember : */

        INSERT INTO  ADMIN_MANAGE (

         MANAGE_ID
        ,MANAGE_CD
        ,MANAGE_IP
        ,ADMIN_NO

        ) VALUES (

         #{manage_id}
        ,#{manage_cd}
        ,#{manage_ip}
        ,#{admin_no}


        )
    </insert>

    <select id="findManageListByInfo" parameterType="string" resultType="com.developer.monitor.domain.admin.model.MmanageMain">

        /* findMemberByName : Param = {ADMIN_NM}*/

        SELECT

             MANAGE_ID
            ,MANAGE_CD
            ,MANAGE_IP
            ,ADMIN_NO

        FROM
            ADMIN_MANAGE
        WHERE
            ADMIN_NO = #{admin_no}
        AND
            MANAGE_CD= #{manage_cd}

    </select>

    <update id="updateManageList" parameterType="com.developer.monitor.domain.admin.model.MmanageMain">

        /* updateManageList : Param = model.MmanageMain */

        UPDATE
            ADMIN_MANAGE
        SET
            MANAGE_IP = #{manage_ip}
           ,MANAGE_CD = #{manage_cd}
           ,ADMIN_NO  = #{admin_no}
        WHERE
            MANAGE_ID = #{manage_id}

    </update>













</mapper>