<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.developer.monitor.domain.admin.mapper.MemberMapper">

    <insert id="saveMember" parameterType="com.developer.monitor.domain.admin.model.MadminMemberMain"
            useGeneratedKeys="true" keyProperty="adminId">

        /* saveMember : */

        INSERT INTO  ADMIN_USER (

            ADMIN_ID
           ,ADMIN_NM
           ,ADMIN_NO
           ,ADMIN_CELLNO
           ,ADMIN_MAIL

        ) VALUES (
            (SELECT MAX(ADMIN_ID)+1 FROM ADMIN_USER AS ADMIN_ID)
           ,#{adminEmpName}
           ,#{adminEmpNo}
           ,#{adminEmpMail}
           ,#{adminEmpCellNo}

        )
    </insert>

    <select id="findMemberByMail" parameterType="string" resultType="com.developer.monitor.domain.admin.model.MadminMemberMain">

        /* findMemberByMail : Param = {ADMIN_MAIL}*/

        SELECT
            ADMIN_ID
           ,ADMIN_NM
           ,ADMIN_NO
           ,ADMIN_CELLNO
           ,ADMIN_MAIL
        FROM
            ADMIN_USER
        WHERE
            ADMIN_MAIL = #{adminEmpMail}

    </select>

    <select id="findMemberByName" parameterType="string" resultType="com.developer.monitor.domain.admin.model.MadminMemberMain">

        /* findMemberByName : Param = {ADMIN_NM}*/

        SELECT
             ADMIN_ID
            ,ADMIN_NM
            ,ADMIN_NO
            ,ADMIN_CELLNO
            ,ADMIN_MAIL
        FROM
            ADMIN_USER
        WHERE
            ADMIN_NM = #{adminEmpName}

    </select>

    <update id="updateMember" parameterType="com.developer.monitor.domain.admin.model.MadminMemberMain">

        /* updateMember : Param = model.MadminMemberMain */

        UPDATE
            ADMIN_USER
        SET
             ADMIN_NM = #{admin_nm}
            ,ADMIN_NO = #{admin_no}
            ,ADMIN_CELLNO = #{admin_cellno}
            ,ADMIN_MAIL = #{admin_mail}
        WHERE
            ADMIN_ID = #{admin_id}
    </update>


    <delete id="deleteMember" parameterType="com.developer.monitor.domain.admin.model.MadminMemberMain">

        /* delete : Param = model.MadminMemberMain */

        DELETE

        FROM
            ADMIN_USER
        WHERE
            ADMIN_NM = #{admin_nm}
        AND
            ADMIN_NO = #{admin_no}
        AND
            ADMIN_CELLNO = #{admin_cellno}
        AND
            ADMIN_MAIL = #{admin_mail}

    </delete>

    <select id="findAllMember" resultType="com.developer.monitor.domain.admin.model.MadminMemberMain">

        /* findMemberByName : Param = {ADMIN_NM}*/

        SELECT
            ADMIN_ID
            ,ADMIN_NM
            ,ADMIN_NO
            ,ADMIN_CELLNO
            ,ADMIN_MAIL
        FROM
            ADMIN_USER
    </select>




</mapper>