<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.developer.monitor.domain.gwServer.mapper.gwSVMapper">

   <insert id="insertGwSVMainData" parameterType="com.developer.monitor.domain.gwServer.model.MInsertGwSVMain"
           useGeneratedKeys="true" keyProperty="gwSVId">

      /*insertGwSVMainData*/

      INSERT INTO GW_SV_MAIN (

          GW_SV_ID
         ,GW_SV_CD
         ,GW_SV_OS
         ,GW_SV_IP
         ,GW_SV_CPU_USAGE
         ,GW_SV_MEM_USAGE
         ,GW_SV_SWAP_USAGE
         ,GW_SV_CLUST_USAGE
         ,GW_SV_DATETIME

      ) VALUES (
         #{gwSVId}
         ,#{gwSVCd}
         ,#{gwSVOs}
         ,#{gwSVIp}
         ,#{gwSVCpuUsage}
         ,#{gwSVMemUsage}
         ,#{gwSVSwapUsage}
         ,#{gwSVClustUsage}
         ,STR_TO_DATE(#{gwSVDateTime},'%Y-%m-%d %H:%i:%s')
      )
   </insert>

   <insert id="insertGwSVProcData" parameterType="com.developer.monitor.domain.gwServer.model.MInsertGwSVProcChk"
           useGeneratedKeys="true" keyProperty="gwSVId">

      /* insertGwSVProcData : */

      INSERT INTO GW_SV_PROCESS (

          GW_SV_PROC_ID
         ,GW_SV_ID
         ,GW_SV_PROC_CD
         ,GW_SV_PROC_CHK

      ) VALUES (

          (SELECT MAX(GW_SV_PROC_ID)+1 FROM GW_SV_PROCESS AS GW_SV_PROC_ID)
         ,#{gwSVId}
         ,#{gwSVProcCd}
         ,#{gwSVProcChk}

      )

   </insert>

   <insert id="insertGwSVDiskData" parameterType="com.developer.monitor.domain.gwServer.model.MInsertGwSVDiskUsage"
           useGeneratedKeys="true" keyProperty="gwSVId">

      /* insertGwSVDiskData : */

      INSERT INTO GW_SV_DISK (

          GW_SV_DISK_ID
         ,GW_SV_ID
         ,GW_SV_DISK_CD
         ,GW_SV_DISK_USAGE

      ) VALUES (

          (SELECT MAX(GW_SV_DISK_ID)+1 FROM GW_SV_DISK AS GW_SV_DISK_ID)
         ,#{gwSVId}
         ,#{gwSVDiskCd}
         ,#{gwSVDiskUsage}

      )
   </insert>

   <insert id="insertGwSVClustData" parameterType="com.developer.monitor.domain.gwServer.model.MInsertGwSVClustChk"
           useGeneratedKeys="true" keyProperty="gwSVId">

      /* insertGwSVClustData : */

      INSERT INTO GW_SV_CLUSTER (

       GW_SV_CLUST_ID
      ,GW_SV_ID
      ,GW_SV_CLUST_CD
      ,GW_SV_CLUST_NAME
      ,GW_SV_CLUST_STAT

      ) VALUES (

      (SELECT MAX(GW_SV_CLUST_ID)+1 FROM GW_SV_CLUSTER AS GW_SV_CLUST_ID)
      ,#{gwSVId}
      ,#{gwSVClustCd}
      ,#{gwSVClustPodName}
      ,#{gwSVClustStatus}

      )

   </insert>
</mapper>